/* GENERAL ------------------------- */
html {
  overflow-y: scroll; }

body {
  margin: 0 0 100px; }

body, h1, h2, h3, h4, h5, p, input {
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

header .container, section, main {
  width: 1000px;
  margin: 0 auto; }

#left-column {
  width: 23%;
  float: left; }

#right-column {
  width: 74%;
  margin-left: 26%; }

/* HEADER ------------------------- */
header {
  background: white;
  height: 80px;
  border-bottom: 2px solid #DDD;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  header #logo {
    width: 20%;
    max-width: 20%;
    margin-top: 9px;
    float: left; }

main {
  margin-top: 100px; }

/* AUTOCOMPLETE ------------------------- */
#autocomplete-input {
  margin-left: 30%;
  text-align: right; }
  #autocomplete-input input {
    width: 50%;
    padding: 12px 20px;
    margin-top: 21px;
    border-radius: 20px;
    border: 1px solid #DDD;
    outline: 0; }
  #autocomplete-input:focus {
    outline: 0; }
  #autocomplete-input::-webkit-input-placeholder, #autocomplete-input:-moz-placeholder, #autocomplete-input:-ms-input-placeholder {
    font-weight: 100;
    color: #999; }

.algolia-autocomplete {
  width: 100%;
  position: relative; }
  .algolia-autocomplete .aa-input {
    width: 100%;
    outline: none; }
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    margin-left: -15px;
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .algolia-autocomplete .aa-dropdown-menu .aa-dataset-products, .algolia-autocomplete .aa-dropdown-menu .aa-dataset-categories, .algolia-autocomplete .aa-dropdown-menu .aa-dataset-manufacturers {
      width: 50%;
      float: left; }
    .algolia-autocomplete .aa-dropdown-menu.aa-with-products.aa-without-manufacturers.aa-without-categories .aa-dataset-products {
      width: 100%; }
    .algolia-autocomplete .aa-dropdown-menu.aa-with-products.aa-without-manufacturers.aa-without-categories .aa-dataset-categories, .algolia-autocomplete .aa-dropdown-menu.aa-with-products.aa-without-manufacturers.aa-without-categories .aa-dataset-manufacturers {
      display: none; }
    .algolia-autocomplete .aa-dropdown-menu .aa-header {
      margin: 0;
      padding: 5px 10px;
      background: #f1f1f1;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      font-weight: bold;
      text-align: left; }
    .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
      text-align: left;
      padding: 7px;
      cursor: pointer; }
      .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
        background-color: #FDDED9; }
      .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
        background: #FBDDE0;
        font-style: normal; }
      .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .product-suggestion {
        font-size: 0; }
      .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .suggestion-image {
        display: inline-block;
        width: 10%; }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .suggestion-image img {
          max-width: 50px;
          max-height: 50px; }
      .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .suggestion-content {
        display: inline-block;
        width: 89%;
        margin-left: 1%;
        font-size: 13px;
        font-weight: 300;
        vertical-align: top; }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .suggestion-content .suggestion-price {
          float: right;
          color: #ED5565;
          margin-left: 0 0 4px 10px;
          font-weight: normal; }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .suggestion-content .suggestion-name {
          margin: 0 0 4px;
          font-weight: normal; }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .suggestion-content .suggestion-description {
          font-size: 12px;
          color: #999;
          margin: 0; }

#autocomplete-icon {
  position: relative; }
  #autocomplete-icon:before {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 12px;
    width: 16px;
    height: 16px;
    background: url(/images/search_icon_small.png) no-repeat;
    cursor: default; }
  #autocomplete-icon.empty:before {
    background-image: url(/images/empty_icon_small.png);
    cursor: pointer; }

/* SEARCH INPUT ------------------------- */
#section-input {
  margin-top: 50px;
  height: 80px; }

#search-input {
  width: 74%;
  margin-left: 26%;
  padding: 10px 0 6px;
  border: none;
  border-bottom: 5px solid #EEE;
  font-size: 28px;
  font-weight: 100;
  outline: 0;
  -webkit-transition: border-color 0.3s ease-in;
          transition: border-color 0.3s ease-in; }
  #search-input:focus {
    outline: 0;
    -webkit-transition: border-color 0.3s ease-in;
            transition: border-color 0.3s ease-in;
    border-color: #ED5565; }
  #search-input::-webkit-input-placeholder, #search-input:-moz-placeholder, #search-input:-ms-input-placeholder {
    font-weight: 100;
    color: #999; }

#search-input-icon {
  position: relative; }
  #search-input-icon:before {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: url(/images/search_icon.png) no-repeat;
    cursor: default; }
  #search-input-icon.empty:before {
    background-image: url(/images/empty_icon.png);
    cursor: pointer; }

/* HITS ------------------------- */
#hits {
  border-top: 2px solid #EEE;
  margin: 4px 0;
  padding: 10px 0; }

.hit {
  padding: 8px 0;
  border-bottom: 1px solid #EEE;
  font-size: 0; }

.hit-image {
  display: inline-block;
  width: 16%; }
  .hit-image img {
    max-width: 100%;
    max-height: 180px; }

.hit-content {
  display: inline-block;
  width: 83%;
  margin-left: 1%;
  font-size: 13px;
  font-weight: 300;
  vertical-align: top; }
  .hit-content .hit-price {
    float: right;
    color: #ED5565;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0;
    font-weight: normal; }
  .hit-content .hit-name {
    margin-top: 0;
    font-weight: normal; }
  .hit-content em {
    background: #FBDDE0;
    font-style: normal; }
  .hit-content .hit-description {
    color: #999; }

/* PAGINATION ------------------------- */
#pagination {
  margin-top: 60px; }
  #pagination ul {
    list-style-type: none;
    text-align: center;
    font-size: 0; }
  #pagination li {
    display: inline;
    font-size: 14px; }
  #pagination a {
    color: #000;
    text-decoration: none;
    border: 1px solid #EEE;
    border-right: none;
    padding: 8px 12px; }
    #pagination a:hover {
      background: #F5F5F5; }
  #pagination li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  #pagination li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #EEE; }
  #pagination li.active a {
    color: white;
    background: #ED5565;
    border-color: #ED5565; }
    #pagination li.active a:hover {
      cursor: default; }
  #pagination li.disabled a {
    cursor: not-allowed; }
    #pagination li.disabled a:hover {
      background: none; }

/* SORT-BY ------------------------- */
#sort-by {
  float: right;
  position: relative;
  color: #999;
  font-weight: 300; }
  #sort-by select {
    padding-right: 14px;
    background: none;
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
  #sort-by .caret {
    position: absolute;
    right: 0;
    top: 8px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    pointer-events: none;
    color: #000; }

/* STATS ------------------------- */
#stats {
  min-height: 18px; }
  #stats .found-in {
    font-size: 12px;
    color: #999; }

/* FACETS ------------------------- */
.facet {
  margin-bottom: 24px; }
  .facet h5 {
    text-transform: uppercase;
    border-bottom: 2px solid #EEE;
    margin: 0 0 6px;
    padding: 0 0 6px; }
  .facet ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .facet li {
    margin-bottom: 3px; }

.facet-link {
  color: #000;
  text-decoration: none;
  line-height: 1.2;
  font-size: 13px; }
  .facet-link:hover {
    color: #ED5565; }

li.refined .facet-link {
  color: #ED5565; }

.facet li.refined .facet-link:hover {
  color: #ED5565;
  text-decoration: line-through; }

.facet-count {
  float: right;
  position: relative;
  top: 3px;
  color: #999; }

/* Checkboxes */
.facet-disjunctive {
  margin-left: 18px;
  position: relative;
  font-weight: normal; }
  .facet-disjunctive:before {
    content: "";
    position: absolute;
    top: 1px;
    left: -18px;
    width: 16px;
    height: 16px;
    background: url(/images/icons.png) -25px 0 no-repeat; }
  .facet-disjunctive:hover:before {
    background-position: -25px -24px; }

.facet li.refined .facet-disjunctive:before {
  background-position: -1px 0; }

.facet li.refined .facet-disjunctive:hover:before {
  background-position: -49px 0px; }
